.aboutContent {
  width: 100%;
  display: flex;
  gap: 3.2rem;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.jobsSection{
  width:100%;
}

.aboutAndBenefits,
.infoAndHiring {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.aboutAndBenefits {
  max-width: 85.2rem;
  width: 100%;
}

.infoAndHiring {
  max-width: 36rem;
  width: 100%;
}

.introSection,
.benefitsSection,
.companyOtherInfo,
.jobsSection {
  border: 1px solid var(--neutral10);
  border-radius: 0.8rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.introSection > h2,
.benefitsSection > h2,
.companyOtherInfo > h2,
.jobsSection > h2 {
  color: var(--neutral95);
  font-weight: 600;
}

.aboutText p {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  text-align: justify;
  padding-bottom: 0.4rem;
  width: 100%;
  text-wrap: wrap;
  word-break: break-all;
}

.specialitySection > h3 {
  font-weight: 500;
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}

.specialties {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.benefitsContainer {
  display: flex;
  gap: 40px;
}

.benefitsList {
  flex: 1;
  padding-left: 2rem;
}

.benefitItem {
  margin-bottom: 1.2rem;
  line-height: 1.5;
}

.companyOtherInfo .infoList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.4rem;
  color: var(--neutral);
}

.showLocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showLocation > button {
  font-size: 1.2rem;
}

.infoList > span,
.locationDetails {
  display: flex;
  gap: 0.8rem;
}

.infoList > span > svg,
.locationDetails > svg {
  font-size: 2.4rem;
  color: var(--neutral70);
}

.socialInfo > h4 {
  font-weight: 400;
  color: var(--neutral70);
  border-top: 1px solid var(--neutral10);
  padding: 0.8rem 0;
}

.socialsList > a > svg {
  font-size: 2.4rem;
  color: var(--neutral80);
}

.socialsList {
  display: flex;
  gap: 0.8rem;
}

.jobsList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.jobCard {
  border-bottom: 1px solid var(--neutral10);
  padding-bottom: 1.6rem;
}

.jobTitle {
  font-size: var(--sm);
  font-weight: 500;
  padding-bottom: 0.8rem;
}

.jobLocation {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--neutral65);
  font-size: 1.4rem;
  padding-bottom: 1.6rem;
}

.jobLocation >svg{
  color:var(--neutral70);
  font-size:2.4rem;
}