.mainWrapper {
  max-width: 160rem;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary20);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralWrapper {
  background-color: var(--bg);
  padding: 2.4rem;
  border-radius: 1.6rem;
  min-width: 78.4rem;
}

.title > h1 {
  font-size: 2.4rem;
  letter-spacing: 0.48px;
  padding-bottom: 1rem;
}

.title > p {
  color: var(--neutral70);
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--neutral10);
  margin-bottom: 2.4rem;
}

.roleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
  gap: 1.6rem;
}

.roles {
  border: 1px solid var(--neutral10);
  border-radius: 1.6rem;
  padding: 2.4rem;
  min-width: 35.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  transition: all 0.2s ease;
  position: relative;
}

.roles:hover {
  background-color: var(--secondary10);
  border-color: var(--secondary30);
}

.roles.selected {
  background-color: var(--secondary10);
  border-color: var(--secondary50);
  border-width: 2px;
}

.roleTitle > h2 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.roleTitle > p {
  font-size: 1.4rem;
  color: var(--neutral70);
}

.icon {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--secondary30);
}

.icon > svg {
  font-size: 3.2rem;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}


