.tagWrapper {
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: var(--xs) var(--s);
  border-radius: var(--xl);
  display: flex;
  gap: 0.4rem;
  background-color: var(--neutral5);
  color: var(--neutral70);
  align-items: center;
}

.tagWrapper >svg{
  font-size: 2rem ;
}

.green {
  background-color: rgba(82, 191, 131, 0.3);
  color: rgba(82, 191, 131, 0.9);
}

.blue {
  background-color: rgba(0, 147, 168, 0.3);
  color: rgba(0, 147, 168, 0.9);
}

.skin{
  background-color: rgb(238, 232, 169);
  color:var(--bg);
}

.tagWrapper > h2 {
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.md{
  font-size:1.2rem !important;
}